@use './variables' as *;
@use './mixins' as *;

.btn {
  position: relative;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s;

  &::after {
    content: "";
    position: absolute;
    height: 110%;
    width: 102%;
    background-color: $buttonColor;
    left: 5%;
    top: 20%;
    z-index: -1;
  }
}

.hide {
  display: none;
}
